body {
  background-color: #a8a8a8 ;
  font-family : verdana;
}



#principal, .subtitle, .posttitle {
  color : #1c1c1c;
}
#principal {
text-transform : uppercase;
font-size : 48px;
}
a {
  text-decoration : line-through;
  color : #1c1c1c;
}
.posttitle {
  font-size: 16px;
  font-style: italic;
}

.post, footer {
  background : #fff;
  padding : 10px;
  border : 3px solid black;
  margin : 15px;
  color : #1c1c1c;
  text-transform : capitalize;
}
img {
  display :block;
}
